/* You can add global styles to this file, and also import other style files */

@import variables

body
  background-color: $bg-color

.section-breadcrumb
  .breadcrumb
    background-color: transparent
    margin: $margin-base 0
    padding: 0

.card-product
  .card-body
    padding: 0

  .product-image
    border-radius: 4px
    display: inline-block
    height: 180px
    margin: $margin-base
    min-width: 180px
    overflow: hidden
    width: 180px

  .product-info
    padding: 16px

    .product-price
      font-size: 24px
      line-height: 1em
      margin: 0
      padding: 16px 0 $padding-base

    .product-title
      width: 320px



