<app-breadcrumb></app-breadcrumb>

<section class="section-product-details">
  <div class="card card-product-details">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-7">
          <div class="product-image">
            <img [src]="product.picture" class="img-fluid" alt="Imagem do Produto">
          </div>
        </div>
        <div class="col-lg-5">
          <p class="product-sold">Nuevo - {{ product.sold_quantity }} vendidos</p>
          <h2 class="product-title">{{ product.title }}</h2>
          <h1 class="product-price">$ {{ getPrice(product.price) }}</h1>
          <button class="btn btn-buy">Comprar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="product-info">
            <h2 class="product-label">Descripción del producto</h2>
            <p class="product-description">
              {{ product.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>