<app-breadcrumb></app-breadcrumb>

<section class="section-product-details">
  <div class="card card-product-details">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-7">
          <div class="product-image">
            <img src="https://placekitten.com/680/680" class="img-fluid" alt="Imagem do Produto">
          </div>
        </div>
        <div class="col-lg-5">
          <p class="product-sold">Nuevo - 234 vendidos</p>
          <h2 class="product-title">Deco Reverse Sombrero Oxford</h2>
          <h1 class="product-price">$ 1.980.00</h1>
          <button class="btn btn-buy">Comprar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="product-info">
            <h2 class="product-label">Descripción del producto</h2>
            <p class="product-description">
              Lorem ipsum is placeholder text commonly used in the graphic,
              print, and publishing industries for previewing,
              layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic,
              print, and publishing industries for previewing layouts and visual mockups.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>