<div class="card card-product" (click)="goToProductDetails(product.id)">
  <div class="card-body">
    <div class="container-product">
      <div class="image">
        <div class="product-image">
          <img [src]="product.picture" alt="Imagem do Produto">
        </div>
      </div>
      <div class="product">
        <div class="product-info">
          <h2 class="product-price">
            $ {{ getPrice(product.price) }}
            <img [hidden]="!product.free_shipping" srcset="assets/ic_shipping.png 1x,assets/ic_shipping@2x.png 2x" alt="Ícone de Carrinho">
          </h2>
          <div class="product-address">
            <p>{{ product.address.state_name }}</p>
          </div>
        </div>
        <p class="product-title">{{ product.title }}</p>
      </div>
    </div>
  </div>
</div>